/* 
    more precise controls to top, left, right, bottom gaps and 
    image width, height, rotation, etc

    Daniel, 2024
*/

/* increase image contrast */
.img-enhance,
.img-enhance-130,
.img-contrast,
.img-contrast-130 {
    filter: contrast(1.2) saturate(200%) brightness(0.8) !important;
    mix-blend-mode: luminosity;
    -webkit-filter: contrast(1.2) saturate(200%) !important;
}

.img-enhance-150,
.img-contrast-150 {
    filter: contrast(1.5) saturate(200%) !important;
    mix-blend-mode: luminosity;
    -webkit-filter: contrast(1.5) saturate(200%) !important;
}

.img-enhance-200,
.img-contrast-200 {
    filter: contrast(2.0) saturate(200%) !important;
    mix-blend-mode: luminosity;
    -webkit-filter: contrast(2.0) saturate(200%) !important;
}

.img-bright-250 {
    filter: brightness(250%) !important;
}

.img-darken,
.img-darken-30 {
    filter: brightness(30%) !important;
}

.img-darken-50 {
    filter: brightness(50%) !important;
}

.img-darken-90 {
    filter: brightness(90%) !important;
}

.img-black-white {
    filter: grayscale(100%) !important;
}

.img-blur {
    filter: blur(5px) !important;
}

.img-sharpen {
    mix-blend-mode: luminosity;
    image-rendering: pixelated;
    filter: saturate(200%) !important;
}

.img-shadow {
    filter: drop-shadow(10px 10px 15px red) invert(75%) !important;
}

.img-invert {
    -webkit-filter: invert(100%) !important;
    filter: invert(100%) !important;
}

.opacity-5 {
    filter: opacity(5%) !important;
}

.opacity-10 {
    filter: opacity(10%) !important;
}

.opacity-15 {
    filter: opacity(15%) !important;
}

.opacity-20 {
    filter: opacity(20%) !important;
}

.opacity-25 {
    filter: opacity(25%) !important;
}

.opacity-30 {
    filter: opacity(30%) !important;
}

.opacity-35 {
    filter: opacity(35%) !important;
}

.opacity-40 {
    filter: opacity(40%) !important;
}

.opacity-45 {
    filter: opacity(45%) !important;
}

.opacity-50 {
    filter: opacity(50%) !important;
}

.opacity-55 {
    filter: opacity(55%) !important;
}

.opacity-60 {
    filter: opacity(60%) !important;
}

.opacity-65 {
    filter: opacity(65%) !important;
}

.opacity-70 {
    filter: opacity(70%) !important;
}

.opacity-75 {
    filter: opacity(75%) !important;
}

.opacity-80 {
    filter: opacity(80%) !important;
}

.opacity-85 {
    filter: opacity(85%) !important;
}

.opacity-90 {
    filter: opacity(90%) !important;
}

.opacity-95 {
    filter: opacity(95%) !important;
}

.img-zoom,
.img-zoom-12,
.img-zoom-15,
.img-zoom-17,
.img-zoom-2,
.img-zoom-25,
.img-zoom-3 {
    transition: transform .2s;
    transform-origin: center;
}

/* too big will go outside the viewport */
.img-zoom:hover,
.img-zoom-12:hover {
    transform: scale(1.2);
    z-index: 1000 !important;
}

.img-zoom-15:hover {
    transform: scale(1.5);
    z-index: 1000 !important;
}

.img-zoom-17:hover {
    transform: scale(1.75);
    z-index: 1000 !important;
}

.img-zoom-2:hover {
    transform: scale(2);
    z-index: 1000 !important;
}

.img-zoom-25:hover {
    transform: scale(2.5);
    z-index: 1000 !important;
}

.img-zoom-3:hover {
    transform: scale(3);
    z-index: 1000 !important;
}

/* image rotation */
.img-rotate-1 {
    display: block;
    transform: rotate(1deg);
}

.img-rotate-neg1 {
    display: block;
    transform: rotate(-1deg);
}

.img-rotate-2 {
    display: block;
    transform: rotate(2deg);
}

.img-rotate-neg2 {
    display: block;
    transform: rotate(-2deg);
}

.img-rotate-3 {
    display: block;
    transform: rotate(3deg);
}

.img-rotate-neg3 {
    display: block;
    transform: rotate(-3deg);
}

.img-rotate-4 {
    display: block;
    transform: rotate(4deg);
}

.img-rotate-neg4 {
    display: block;
    transform: rotate(-4deg);
}

.img-rotate-5 {
    display: block;
    transform: rotate(5deg);
}

.img-rotate-neg5 {
    display: block;
    transform: rotate(-5deg);
}

.img-rotate-6 {
    display: block;
    transform: rotate(6deg);
}

.img-rotate-neg6 {
    display: block;
    transform: rotate(-6deg);
}

.img-rotate-7 {
    display: block;
    transform: rotate(7deg);
}

.img-rotate-neg7 {
    display: block;
    transform: rotate(-7deg);
}

.img-rotate-8 {
    display: block;
    transform: rotate(8deg);
}

.img-rotate-neg8 {
    display: block;
    transform: rotate(-8deg);
}

.img-rotate-9 {
    display: block;
    transform: rotate(9deg);
}

.img-rotate-neg9 {
    display: block;
    transform: rotate(-9deg);
}

.img-rotate-10 {
    display: block;
    transform: rotate(10deg);
}

.img-rotate-neg10 {
    display: block;
    transform: rotate(-10deg);
}

.img-rotate-11 {
    display: block;
    transform: rotate(11deg);
}

.img-rotate-neg11 {
    display: block;
    transform: rotate(-11deg);
}

.img-rotate-12 {
    display: block;
    transform: rotate(12deg);
}

.img-rotate-neg12 {
    display: block;
    transform: rotate(-12deg);
}

.img-rotate-13 {
    display: block;
    transform: rotate(13deg);
}

.img-rotate-neg13 {
    display: block;
    transform: rotate(-13deg);
}

.img-rotate-14 {
    display: block;
    transform: rotate(14deg);
}

.img-rotate-neg14 {
    display: block;
    transform: rotate(-14deg);
}

.img-rotate-15 {
    display: block;
    transform: rotate(15deg);
}

.img-rotate-neg15 {
    display: block;
    transform: rotate(-15deg);
}

.img-rotate-16 {
    display: block;
    transform: rotate(16deg);
}

.img-rotate-neg16 {
    display: block;
    transform: rotate(-16deg);
}

.img-rotate-17 {
    display: block;
    transform: rotate(17deg);
}

.img-rotate-neg17 {
    display: block;
    transform: rotate(-17deg);
}

.img-rotate-18 {
    display: block;
    transform: rotate(18deg);
}

.img-rotate-neg18 {
    display: block;
    transform: rotate(-18deg);
}

.img-rotate-19 {
    display: block;
    transform: rotate(19deg);
}

.img-rotate-neg19 {
    display: block;
    transform: rotate(-19deg);
}

.img-rotate-20 {
    display: block;
    transform: rotate(20deg);
}

.img-rotate-neg20 {
    display: block;
    transform: rotate(-20deg);
}

.img-rotate-21 {
    display: block;
    transform: rotate(21deg);
}

.img-rotate-neg21 {
    display: block;
    transform: rotate(-21deg);
}

.img-rotate-22 {
    display: block;
    transform: rotate(22deg);
}

.img-rotate-neg22 {
    display: block;
    transform: rotate(-22deg);
}

.img-rotate-23 {
    display: block;
    transform: rotate(23deg);
}

.img-rotate-neg23 {
    display: block;
    transform: rotate(-23deg);
}

.img-rotate-24 {
    display: block;
    transform: rotate(24deg);
}

.img-rotate-neg24 {
    display: block;
    transform: rotate(-24deg);
}

.img-rotate-25 {
    display: block;
    transform: rotate(25deg);
}

.img-rotate-neg25 {
    display: block;
    transform: rotate(-25deg);
}

.img-rotate-26 {
    display: block;
    transform: rotate(26deg);
}

.img-rotate-neg26 {
    display: block;
    transform: rotate(-26deg);
}

.img-rotate-27 {
    display: block;
    transform: rotate(27deg);
}

.img-rotate-neg27 {
    display: block;
    transform: rotate(-27deg);
}

.img-rotate-28 {
    display: block;
    transform: rotate(28deg);
}

.img-rotate-neg28 {
    display: block;
    transform: rotate(-28deg);
}

.img-rotate-29 {
    display: block;
    transform: rotate(29deg);
}

.img-rotate-neg29 {
    display: block;
    transform: rotate(-29deg);
}

.img-rotate-30 {
    display: block;
    transform: rotate(30deg);
}

.img-rotate-neg30 {
    display: block;
    transform: rotate(-30deg);
}

.img-rotate-31 {
    display: block;
    transform: rotate(31deg);
}

.img-rotate-neg31 {
    display: block;
    transform: rotate(-31deg);
}

.img-rotate-32 {
    display: block;
    transform: rotate(32deg);
}

.img-rotate-neg32 {
    display: block;
    transform: rotate(-32deg);
}

.img-rotate-33 {
    display: block;
    transform: rotate(33deg);
}

.img-rotate-neg33 {
    display: block;
    transform: rotate(-33deg);
}

.img-rotate-34 {
    display: block;
    transform: rotate(34deg);
}

.img-rotate-neg34 {
    display: block;
    transform: rotate(-34deg);
}

.img-rotate-35 {
    display: block;
    transform: rotate(35deg);
}

.img-rotate-neg35 {
    display: block;
    transform: rotate(-35deg);
}

.img-rotate-36 {
    display: block;
    transform: rotate(36deg);
}

.img-rotate-neg36 {
    display: block;
    transform: rotate(-36deg);
}

.img-rotate-37 {
    display: block;
    transform: rotate(37deg);
}

.img-rotate-neg37 {
    display: block;
    transform: rotate(-37deg);
}

.img-rotate-38 {
    display: block;
    transform: rotate(38deg);
}

.img-rotate-neg38 {
    display: block;
    transform: rotate(-38deg);
}

.img-rotate-39 {
    display: block;
    transform: rotate(39deg);
}

.img-rotate-neg39 {
    display: block;
    transform: rotate(-39deg);
}

.img-rotate-40 {
    display: block;
    transform: rotate(40deg);
}

.img-rotate-neg40 {
    display: block;
    transform: rotate(-40deg);
}

.img-rotate-41 {
    display: block;
    transform: rotate(41deg);
}

.img-rotate-neg41 {
    display: block;
    transform: rotate(-41deg);
}

.img-rotate-42 {
    display: block;
    transform: rotate(42deg);
}

.img-rotate-neg42 {
    display: block;
    transform: rotate(-42deg);
}

.img-rotate-43 {
    display: block;
    transform: rotate(43deg);
}

.img-rotate-neg43 {
    display: block;
    transform: rotate(-43deg);
}

.img-rotate-44 {
    display: block;
    transform: rotate(44deg);
}

.img-rotate-neg44 {
    display: block;
    transform: rotate(-44deg);
}

.img-rotate-45 {
    display: block;
    transform: rotate(45deg);
}

.img-rotate-neg45 {
    display: block;
    transform: rotate(-45deg);
}

.img-rotate-46 {
    display: block;
    transform: rotate(46deg);
}

.img-rotate-neg46 {
    display: block;
    transform: rotate(-46deg);
}

.img-rotate-47 {
    display: block;
    transform: rotate(47deg);
}

.img-rotate-neg47 {
    display: block;
    transform: rotate(-47deg);
}

.img-rotate-48 {
    display: block;
    transform: rotate(48deg);
}

.img-rotate-neg48 {
    display: block;
    transform: rotate(-48deg);
}

.img-rotate-49 {
    display: block;
    transform: rotate(49deg);
}

.img-rotate-neg49 {
    display: block;
    transform: rotate(-49deg);
}

.img-rotate-50 {
    display: block;
    transform: rotate(50deg);
}

.img-rotate-neg50 {
    display: block;
    transform: rotate(-50deg);
}

.img-rotate-51 {
    display: block;
    transform: rotate(51deg);
}

.img-rotate-neg51 {
    display: block;
    transform: rotate(-51deg);
}

.img-rotate-52 {
    display: block;
    transform: rotate(52deg);
}

.img-rotate-neg52 {
    display: block;
    transform: rotate(-52deg);
}

.img-rotate-53 {
    display: block;
    transform: rotate(53deg);
}

.img-rotate-neg53 {
    display: block;
    transform: rotate(-53deg);
}

.img-rotate-54 {
    display: block;
    transform: rotate(54deg);
}

.img-rotate-neg54 {
    display: block;
    transform: rotate(-54deg);
}

.img-rotate-55 {
    display: block;
    transform: rotate(55deg);
}

.img-rotate-neg55 {
    display: block;
    transform: rotate(-55deg);
}

.img-rotate-56 {
    display: block;
    transform: rotate(56deg);
}

.img-rotate-neg56 {
    display: block;
    transform: rotate(-56deg);
}

.img-rotate-57 {
    display: block;
    transform: rotate(57deg);
}

.img-rotate-neg57 {
    display: block;
    transform: rotate(-57deg);
}

.img-rotate-58 {
    display: block;
    transform: rotate(58deg);
}

.img-rotate-neg58 {
    display: block;
    transform: rotate(-58deg);
}

.img-rotate-59 {
    display: block;
    transform: rotate(59deg);
}

.img-rotate-neg59 {
    display: block;
    transform: rotate(-59deg);
}

.img-rotate-60 {
    display: block;
    transform: rotate(60deg);
}

.img-rotate-neg60 {
    display: block;
    transform: rotate(-60deg);
}

.img-rotate-61 {
    display: block;
    transform: rotate(61deg);
}

.img-rotate-neg61 {
    display: block;
    transform: rotate(-61deg);
}

.img-rotate-62 {
    display: block;
    transform: rotate(62deg);
}

.img-rotate-neg62 {
    display: block;
    transform: rotate(-62deg);
}

.img-rotate-63 {
    display: block;
    transform: rotate(63deg);
}

.img-rotate-neg63 {
    display: block;
    transform: rotate(-63deg);
}

.img-rotate-64 {
    display: block;
    transform: rotate(64deg);
}

.img-rotate-neg64 {
    display: block;
    transform: rotate(-64deg);
}

.img-rotate-65 {
    display: block;
    transform: rotate(65deg);
}

.img-rotate-neg65 {
    display: block;
    transform: rotate(-65deg);
}

.img-rotate-66 {
    display: block;
    transform: rotate(66deg);
}

.img-rotate-neg66 {
    display: block;
    transform: rotate(-66deg);
}

.img-rotate-67 {
    display: block;
    transform: rotate(67deg);
}

.img-rotate-neg67 {
    display: block;
    transform: rotate(-67deg);
}

.img-rotate-68 {
    display: block;
    transform: rotate(68deg);
}

.img-rotate-neg68 {
    display: block;
    transform: rotate(-68deg);
}

.img-rotate-69 {
    display: block;
    transform: rotate(69deg);
}

.img-rotate-neg69 {
    display: block;
    transform: rotate(-69deg);
}

.img-rotate-70 {
    display: block;
    transform: rotate(70deg);
}

.img-rotate-neg70 {
    display: block;
    transform: rotate(-70deg);
}

.img-rotate-71 {
    display: block;
    transform: rotate(71deg);
}

.img-rotate-neg71 {
    display: block;
    transform: rotate(-71deg);
}

.img-rotate-72 {
    display: block;
    transform: rotate(72deg);
}

.img-rotate-neg72 {
    display: block;
    transform: rotate(-72deg);
}

.img-rotate-73 {
    display: block;
    transform: rotate(73deg);
}

.img-rotate-neg73 {
    display: block;
    transform: rotate(-73deg);
}

.img-rotate-74 {
    display: block;
    transform: rotate(74deg);
}

.img-rotate-neg74 {
    display: block;
    transform: rotate(-74deg);
}

.img-rotate-75 {
    display: block;
    transform: rotate(75deg);
}

.img-rotate-neg75 {
    display: block;
    transform: rotate(-75deg);
}

.img-rotate-76 {
    display: block;
    transform: rotate(76deg);
}

.img-rotate-neg76 {
    display: block;
    transform: rotate(-76deg);
}

.img-rotate-77 {
    display: block;
    transform: rotate(77deg);
}

.img-rotate-neg77 {
    display: block;
    transform: rotate(-77deg);
}

.img-rotate-78 {
    display: block;
    transform: rotate(78deg);
}

.img-rotate-neg78 {
    display: block;
    transform: rotate(-78deg);
}

.img-rotate-79 {
    display: block;
    transform: rotate(79deg);
}

.img-rotate-neg79 {
    display: block;
    transform: rotate(-79deg);
}

.img-rotate-80 {
    display: block;
    transform: rotate(80deg);
}

.img-rotate-neg80 {
    display: block;
    transform: rotate(-80deg);
}

.img-rotate-81 {
    display: block;
    transform: rotate(81deg);
}

.img-rotate-neg81 {
    display: block;
    transform: rotate(-81deg);
}

.img-rotate-82 {
    display: block;
    transform: rotate(82deg);
}

.img-rotate-neg82 {
    display: block;
    transform: rotate(-82deg);
}

.img-rotate-83 {
    display: block;
    transform: rotate(83deg);
}

.img-rotate-neg83 {
    display: block;
    transform: rotate(-83deg);
}

.img-rotate-84 {
    display: block;
    transform: rotate(84deg);
}

.img-rotate-neg84 {
    display: block;
    transform: rotate(-84deg);
}

.img-rotate-85 {
    display: block;
    transform: rotate(85deg);
}

.img-rotate-neg85 {
    display: block;
    transform: rotate(-85deg);
}

.img-rotate-86 {
    display: block;
    transform: rotate(86deg);
}

.img-rotate-neg86 {
    display: block;
    transform: rotate(-86deg);
}

.img-rotate-87 {
    display: block;
    transform: rotate(87deg);
}

.img-rotate-neg87 {
    display: block;
    transform: rotate(-87deg);
}

.img-rotate-88 {
    display: block;
    transform: rotate(88deg);
}

.img-rotate-neg88 {
    display: block;
    transform: rotate(-88deg);
}

.img-rotate-89 {
    display: block;
    transform: rotate(89deg);
}

.img-rotate-neg89 {
    display: block;
    transform: rotate(-89deg);
}

.img-rotate-90 {
    display: block;
    transform: rotate(90deg);
}

.img-rotate-neg90 {
    display: block;
    transform: rotate(-90deg);
}

.img-rotate-91 {
    display: block;
    transform: rotate(91deg);
}

.img-rotate-neg91 {
    display: block;
    transform: rotate(-91deg);
}

.img-rotate-92 {
    display: block;
    transform: rotate(92deg);
}

.img-rotate-neg92 {
    display: block;
    transform: rotate(-92deg);
}

.img-rotate-93 {
    display: block;
    transform: rotate(93deg);
}

.img-rotate-neg93 {
    display: block;
    transform: rotate(-93deg);
}

.img-rotate-94 {
    display: block;
    transform: rotate(94deg);
}

.img-rotate-neg94 {
    display: block;
    transform: rotate(-94deg);
}

.img-rotate-95 {
    display: block;
    transform: rotate(95deg);
}

.img-rotate-neg95 {
    display: block;
    transform: rotate(-95deg);
}

.img-rotate-96 {
    display: block;
    transform: rotate(96deg);
}

.img-rotate-neg96 {
    display: block;
    transform: rotate(-96deg);
}

.img-rotate-97 {
    display: block;
    transform: rotate(97deg);
}

.img-rotate-neg97 {
    display: block;
    transform: rotate(-97deg);
}

.img-rotate-98 {
    display: block;
    transform: rotate(98deg);
}

.img-rotate-neg98 {
    display: block;
    transform: rotate(-98deg);
}

.img-rotate-99 {
    display: block;
    transform: rotate(99deg);
}

.img-rotate-neg99 {
    display: block;
    transform: rotate(-99deg);
}

.img-rotate-100 {
    display: block;
    transform: rotate(100deg);
}

.img-rotate-neg100 {
    display: block;
    transform: rotate(-100deg);
}

.img-rotate-101 {
    display: block;
    transform: rotate(101deg);
}

.img-rotate-neg101 {
    display: block;
    transform: rotate(-101deg);
}

.img-rotate-102 {
    display: block;
    transform: rotate(102deg);
}

.img-rotate-neg102 {
    display: block;
    transform: rotate(-102deg);
}

.img-rotate-103 {
    display: block;
    transform: rotate(103deg);
}

.img-rotate-neg103 {
    display: block;
    transform: rotate(-103deg);
}

.img-rotate-104 {
    display: block;
    transform: rotate(104deg);
}

.img-rotate-neg104 {
    display: block;
    transform: rotate(-104deg);
}

.img-rotate-105 {
    display: block;
    transform: rotate(105deg);
}

.img-rotate-neg105 {
    display: block;
    transform: rotate(-105deg);
}

.img-rotate-106 {
    display: block;
    transform: rotate(106deg);
}

.img-rotate-neg106 {
    display: block;
    transform: rotate(-106deg);
}

.img-rotate-107 {
    display: block;
    transform: rotate(107deg);
}

.img-rotate-neg107 {
    display: block;
    transform: rotate(-107deg);
}

.img-rotate-108 {
    display: block;
    transform: rotate(108deg);
}

.img-rotate-neg108 {
    display: block;
    transform: rotate(-108deg);
}

.img-rotate-109 {
    display: block;
    transform: rotate(109deg);
}

.img-rotate-neg109 {
    display: block;
    transform: rotate(-109deg);
}

.img-rotate-110 {
    display: block;
    transform: rotate(110deg);
}

.img-rotate-neg110 {
    display: block;
    transform: rotate(-110deg);
}

.img-rotate-111 {
    display: block;
    transform: rotate(111deg);
}

.img-rotate-neg111 {
    display: block;
    transform: rotate(-111deg);
}

.img-rotate-112 {
    display: block;
    transform: rotate(112deg);
}

.img-rotate-neg112 {
    display: block;
    transform: rotate(-112deg);
}

.img-rotate-113 {
    display: block;
    transform: rotate(113deg);
}

.img-rotate-neg113 {
    display: block;
    transform: rotate(-113deg);
}

.img-rotate-114 {
    display: block;
    transform: rotate(114deg);
}

.img-rotate-neg114 {
    display: block;
    transform: rotate(-114deg);
}

.img-rotate-115 {
    display: block;
    transform: rotate(115deg);
}

.img-rotate-neg115 {
    display: block;
    transform: rotate(-115deg);
}

.img-rotate-116 {
    display: block;
    transform: rotate(116deg);
}

.img-rotate-neg116 {
    display: block;
    transform: rotate(-116deg);
}

.img-rotate-117 {
    display: block;
    transform: rotate(117deg);
}

.img-rotate-neg117 {
    display: block;
    transform: rotate(-117deg);
}

.img-rotate-118 {
    display: block;
    transform: rotate(118deg);
}

.img-rotate-neg118 {
    display: block;
    transform: rotate(-118deg);
}

.img-rotate-119 {
    display: block;
    transform: rotate(119deg);
}

.img-rotate-neg119 {
    display: block;
    transform: rotate(-119deg);
}

.img-rotate-120 {
    display: block;
    transform: rotate(120deg);
}

.img-rotate-neg120 {
    display: block;
    transform: rotate(-120deg);
}

.img-rotate-121 {
    display: block;
    transform: rotate(121deg);
}

.img-rotate-neg121 {
    display: block;
    transform: rotate(-121deg);
}

.img-rotate-122 {
    display: block;
    transform: rotate(122deg);
}

.img-rotate-neg122 {
    display: block;
    transform: rotate(-122deg);
}

.img-rotate-123 {
    display: block;
    transform: rotate(123deg);
}

.img-rotate-neg123 {
    display: block;
    transform: rotate(-123deg);
}

.img-rotate-124 {
    display: block;
    transform: rotate(124deg);
}

.img-rotate-neg124 {
    display: block;
    transform: rotate(-124deg);
}

.img-rotate-125 {
    display: block;
    transform: rotate(125deg);
}

.img-rotate-neg125 {
    display: block;
    transform: rotate(-125deg);
}

.img-rotate-126 {
    display: block;
    transform: rotate(126deg);
}

.img-rotate-neg126 {
    display: block;
    transform: rotate(-126deg);
}

.img-rotate-127 {
    display: block;
    transform: rotate(127deg);
}

.img-rotate-neg127 {
    display: block;
    transform: rotate(-127deg);
}

.img-rotate-128 {
    display: block;
    transform: rotate(128deg);
}

.img-rotate-neg128 {
    display: block;
    transform: rotate(-128deg);
}

.img-rotate-129 {
    display: block;
    transform: rotate(129deg);
}

.img-rotate-neg129 {
    display: block;
    transform: rotate(-129deg);
}

.img-rotate-130 {
    display: block;
    transform: rotate(130deg);
}

.img-rotate-neg130 {
    display: block;
    transform: rotate(-130deg);
}

.img-rotate-131 {
    display: block;
    transform: rotate(131deg);
}

.img-rotate-neg131 {
    display: block;
    transform: rotate(-131deg);
}

.img-rotate-132 {
    display: block;
    transform: rotate(132deg);
}

.img-rotate-neg132 {
    display: block;
    transform: rotate(-132deg);
}

.img-rotate-133 {
    display: block;
    transform: rotate(133deg);
}

.img-rotate-neg133 {
    display: block;
    transform: rotate(-133deg);
}

.img-rotate-134 {
    display: block;
    transform: rotate(134deg);
}

.img-rotate-neg134 {
    display: block;
    transform: rotate(-134deg);
}

.img-rotate-135 {
    display: block;
    transform: rotate(135deg);
}

.img-rotate-neg135 {
    display: block;
    transform: rotate(-135deg);
}

.img-rotate-136 {
    display: block;
    transform: rotate(136deg);
}

.img-rotate-neg136 {
    display: block;
    transform: rotate(-136deg);
}

.img-rotate-137 {
    display: block;
    transform: rotate(137deg);
}

.img-rotate-neg137 {
    display: block;
    transform: rotate(-137deg);
}

.img-rotate-138 {
    display: block;
    transform: rotate(138deg);
}

.img-rotate-neg138 {
    display: block;
    transform: rotate(-138deg);
}

.img-rotate-139 {
    display: block;
    transform: rotate(139deg);
}

.img-rotate-neg139 {
    display: block;
    transform: rotate(-139deg);
}

.img-rotate-140 {
    display: block;
    transform: rotate(140deg);
}

.img-rotate-neg140 {
    display: block;
    transform: rotate(-140deg);
}

.img-rotate-141 {
    display: block;
    transform: rotate(141deg);
}

.img-rotate-neg141 {
    display: block;
    transform: rotate(-141deg);
}

.img-rotate-142 {
    display: block;
    transform: rotate(142deg);
}

.img-rotate-neg142 {
    display: block;
    transform: rotate(-142deg);
}

.img-rotate-143 {
    display: block;
    transform: rotate(143deg);
}

.img-rotate-neg143 {
    display: block;
    transform: rotate(-143deg);
}

.img-rotate-144 {
    display: block;
    transform: rotate(144deg);
}

.img-rotate-neg144 {
    display: block;
    transform: rotate(-144deg);
}

.img-rotate-145 {
    display: block;
    transform: rotate(145deg);
}

.img-rotate-neg145 {
    display: block;
    transform: rotate(-145deg);
}

.img-rotate-146 {
    display: block;
    transform: rotate(146deg);
}

.img-rotate-neg146 {
    display: block;
    transform: rotate(-146deg);
}

.img-rotate-147 {
    display: block;
    transform: rotate(147deg);
}

.img-rotate-neg147 {
    display: block;
    transform: rotate(-147deg);
}

.img-rotate-148 {
    display: block;
    transform: rotate(148deg);
}

.img-rotate-neg148 {
    display: block;
    transform: rotate(-148deg);
}

.img-rotate-149 {
    display: block;
    transform: rotate(149deg);
}

.img-rotate-neg149 {
    display: block;
    transform: rotate(-149deg);
}

.img-rotate-150 {
    display: block;
    transform: rotate(150deg);
}

.img-rotate-neg150 {
    display: block;
    transform: rotate(-150deg);
}

.img-rotate-151 {
    display: block;
    transform: rotate(151deg);
}

.img-rotate-neg151 {
    display: block;
    transform: rotate(-151deg);
}

.img-rotate-152 {
    display: block;
    transform: rotate(152deg);
}

.img-rotate-neg152 {
    display: block;
    transform: rotate(-152deg);
}

.img-rotate-153 {
    display: block;
    transform: rotate(153deg);
}

.img-rotate-neg153 {
    display: block;
    transform: rotate(-153deg);
}

.img-rotate-154 {
    display: block;
    transform: rotate(154deg);
}

.img-rotate-neg154 {
    display: block;
    transform: rotate(-154deg);
}

.img-rotate-155 {
    display: block;
    transform: rotate(155deg);
}

.img-rotate-neg155 {
    display: block;
    transform: rotate(-155deg);
}

.img-rotate-156 {
    display: block;
    transform: rotate(156deg);
}

.img-rotate-neg156 {
    display: block;
    transform: rotate(-156deg);
}

.img-rotate-157 {
    display: block;
    transform: rotate(157deg);
}

.img-rotate-neg157 {
    display: block;
    transform: rotate(-157deg);
}

.img-rotate-158 {
    display: block;
    transform: rotate(158deg);
}

.img-rotate-neg158 {
    display: block;
    transform: rotate(-158deg);
}

.img-rotate-159 {
    display: block;
    transform: rotate(159deg);
}

.img-rotate-neg159 {
    display: block;
    transform: rotate(-159deg);
}

.img-rotate-160 {
    display: block;
    transform: rotate(160deg);
}

.img-rotate-neg160 {
    display: block;
    transform: rotate(-160deg);
}

.img-rotate-161 {
    display: block;
    transform: rotate(161deg);
}

.img-rotate-neg161 {
    display: block;
    transform: rotate(-161deg);
}

.img-rotate-162 {
    display: block;
    transform: rotate(162deg);
}

.img-rotate-neg162 {
    display: block;
    transform: rotate(-162deg);
}

.img-rotate-163 {
    display: block;
    transform: rotate(163deg);
}

.img-rotate-neg163 {
    display: block;
    transform: rotate(-163deg);
}

.img-rotate-164 {
    display: block;
    transform: rotate(164deg);
}

.img-rotate-neg164 {
    display: block;
    transform: rotate(-164deg);
}

.img-rotate-165 {
    display: block;
    transform: rotate(165deg);
}

.img-rotate-neg165 {
    display: block;
    transform: rotate(-165deg);
}

.img-rotate-166 {
    display: block;
    transform: rotate(166deg);
}

.img-rotate-neg166 {
    display: block;
    transform: rotate(-166deg);
}

.img-rotate-167 {
    display: block;
    transform: rotate(167deg);
}

.img-rotate-neg167 {
    display: block;
    transform: rotate(-167deg);
}

.img-rotate-168 {
    display: block;
    transform: rotate(168deg);
}

.img-rotate-neg168 {
    display: block;
    transform: rotate(-168deg);
}

.img-rotate-169 {
    display: block;
    transform: rotate(169deg);
}

.img-rotate-neg169 {
    display: block;
    transform: rotate(-169deg);
}

.img-rotate-170 {
    display: block;
    transform: rotate(170deg);
}

.img-rotate-neg170 {
    display: block;
    transform: rotate(-170deg);
}

.img-rotate-171 {
    display: block;
    transform: rotate(171deg);
}

.img-rotate-neg171 {
    display: block;
    transform: rotate(-171deg);
}

.img-rotate-172 {
    display: block;
    transform: rotate(172deg);
}

.img-rotate-neg172 {
    display: block;
    transform: rotate(-172deg);
}

.img-rotate-173 {
    display: block;
    transform: rotate(173deg);
}

.img-rotate-neg173 {
    display: block;
    transform: rotate(-173deg);
}

.img-rotate-174 {
    display: block;
    transform: rotate(174deg);
}

.img-rotate-neg174 {
    display: block;
    transform: rotate(-174deg);
}

.img-rotate-175 {
    display: block;
    transform: rotate(175deg);
}

.img-rotate-neg175 {
    display: block;
    transform: rotate(-175deg);
}

.img-rotate-176 {
    display: block;
    transform: rotate(176deg);
}

.img-rotate-neg176 {
    display: block;
    transform: rotate(-176deg);
}

.img-rotate-177 {
    display: block;
    transform: rotate(177deg);
}

.img-rotate-neg177 {
    display: block;
    transform: rotate(-177deg);
}

.img-rotate-178 {
    display: block;
    transform: rotate(178deg);
}

.img-rotate-neg178 {
    display: block;
    transform: rotate(-178deg);
}

.img-rotate-179 {
    display: block;
    transform: rotate(179deg);
}

.img-rotate-neg179 {
    display: block;
    transform: rotate(-179deg);
}

.img-rotate-180 {
    display: block;
    transform: rotate(180deg);
}

.img-rotate-neg180 {
    display: block;
    transform: rotate(-180deg);
}

/* move image lower to inline with text */
.img-inline {
    height: 50px;
    width: 50px;
    translate: 0px 20px;
}

/* round image */
.img-round {
    border-radius: 50% !important;
}

.img-round-corner-5 {
    border-radius: 5px !important;
}

.img-round-corner-10 {
    border-radius: 10px !important;
}

.img-round-corner-15 {
    border-radius: 15px !important;
}

.img-round-corner,
.img-round-corner-20 {
    border-radius: 20px !important;
}

.img-round-corner-25 {
    border-radius: 25px !important;
}

.img-round-corner-30 {
    border-radius: 30px !important;
}

.img-round-corner-35 {
    border-radius: 35px !important;
}

.img-round-corner-40 {
    border-radius: 40px !important;
}

.img-round-corner-45 {
    border-radius: 45px !important;
}

.img-round-corner-50 {
    border-radius: 50px !important;
}

.img-round-corner-55 {
    border-radius: 55px !important;
}

.img-round-corner-60 {
    border-radius: 60px !important;
}

.img-round-corner-65 {
    border-radius: 65px !important;
}

.img-round-corner-70 {
    border-radius: 70px !important;
}

.img-round-corner-75 {
    border-radius: 75px !important;
}

.img-round-corner-80 {
    border-radius: 80px !important;
}

.img-round-corner-85 {
    border-radius: 85px !important;
}

.img-round-corner-90 {
    border-radius: 90px !important;
}

.img-round-corner-95 {
    border-radius: 95px !important;
}

.img-round-corner-100 {
    border-radius: 100px !important;
}

.img-square {
    aspect-ratio: 1/1 !important;
}

.img-square-50 {
    height: 50px !important;
    width: 50px !important;
}

.img-square-100 {
    height: 100px !important;
    width: 100px !important;
}

.img-square-120 {
    height: 120px !important;
    width: 120px !important;
}

.img-square-150 {
    height: 150px !important;
    width: 150px !important;
}

.img-square-180 {
    height: 180px !important;
    width: 180px !important;
}

.img-square-200 {
    height: 200px !important;
    width: 200px !important;
}

.img-square-250 {
    height: 250px !important;
    width: 250px !important;
}

.img-square-300 {
    height: 300px !important;
    width: 300px !important;
}

.img-square-350 {
    height: 350px !important;
    width: 350px !important;
}

.img-square-400 {
    height: 400px !important;
    width: 400px !important;
}

.img-square-450 {
    height: 450px !important;
    width: 450px !important;
}

.img-square-500 {
    height: 500px !important;
    width: 500px !important;
}

.img-square-550 {
    height: 550px !important;
    width: 550px !important;
}

.img-height-20 {
    max-height: 20px !important;
    height: 20px !important;
}

.img-height-30 {
    max-height: 30px !important;
    height: 30px !important;
}

.img-height-50 {
    max-height: 50px !important;
    height: 50px !important;
}

.img-height-80 {
    max-height: 80px !important;
    height: 80px !important;
}

.img-height-100 {
    max-height: 100px !important;
    height: 100px !important;
}

.img-height-150 {
    max-height: 150px !important;
    height: 150px !important;
}

.img-height-200 {
    max-height: 200px !important;
    height: 200px !important;
}

.img-height-250 {
    max-height: 250px !important;
    height: 250px !important;
}

.img-height-280 {
    max-height: 280px !important;
    height: 280px !important;
}

.img-height-300 {
    max-height: 300px !important;
    height: 300px !important;
}

.img-height-350 {
    max-height: 350px !important;
    height: 350px !important;
}

.img-height-400 {
    max-height: 400px !important;
    height: 400px !important;
}

.img-height-450 {
    max-height: 450px !important;
    height: 450px !important;
}

.img-height-500 {
    max-height: 500px !important;
    height: 500px !important;
}

.img-height-550 {
    max-height: 550px !important;
    height: 550px !important;
}

.img-height-600 {
    max-height: 600px !important;
    height: 600px !important;
}

.img-height-650 {
    max-height: 650px !important;
    height: 650px !important;
}

.img-height-700 {
    max-height: 700px !important;
    height: 700px !important;
}

.img-height-750 {
    max-height: 750px !important;
    height: 750px !important;
}

.img-height-800 {
    max-height: 800px !important;
    height: 800px !important;
}

.img-height-10p {
    max-height: 10% !important;
    height: 10% !important;
}

.img-height-15p {
    max-height: 15% !important;
    height: 15% !important;
}

.img-height-20p {
    max-height: 20% !important;
    height: 20% !important;
}

.img-height-25p {
    max-height: 25% !important;
    height: 25% !important;
}

.img-height-30p {
    max-height: 30% !important;
    height: 30% !important;
}

.img-height-35p {
    max-height: 35% !important;
    height: 35% !important;
}

.img-height-40p {
    max-height: 40% !important;
    height: 40% !important;
}

.img-height-45p {
    max-height: 45% !important;
    height: 45% !important;
}

.img-height-50p {
    max-height: 50% !important;
    height: 50% !important;
}

.img-height-55p {
    max-height: 55% !important;
    height: 55% !important;
}

.img-height-60p {
    max-height: 60% !important;
    height: 60% !important;
}

.img-height-65p {
    max-height: 65% !important;
    height: 65% !important;
}

.img-height-70p {
    max-height: 70% !important;
    height: 70% !important;
}

.img-height-75p {
    max-height: 75% !important;
    height: 75% !important;
}

.img-height-80p {
    max-height: 80% !important;
    height: 80% !important;
}

.img-height-85p {
    max-height: 85% !important;
    height: 85% !important;
}

.img-height-90p {
    max-height: 90% !important;
    height: 90% !important;
}

.img-height-95p {
    max-height: 95% !important;
    height: 95% !important;
}

.img-height-100p {
    max-height: 100% !important;
    height: 100% !important;
}

/* define element width using percentage */

.img-width-10p {
    max-width: 10% !important;
    width: 10% !important;
}

.img-width-15p {
    max-width: 15% !important;
    width: 15% !important;
}

.img-width-20p {
    max-width: 20% !important;
    width: 20% !important;
}

.img-width-25p {
    max-width: 25% !important;
    width: 25% !important;
}

.img-width-30p {
    max-width: 30% !important;
    width: 30% !important;
}

.img-width-35p {
    max-width: 35% !important;
    width: 35% !important;
}

.img-width-40p {
    max-width: 40% !important;
    width: 40% !important;
}

.img-width-45p {
    max-width: 45% !important;
    width: 45% !important;
}

.img-width-50p {
    max-width: 50% !important;
    width: 50% !important;
}

.img-width-55p {
    max-width: 55% !important;
    width: 55% !important;
}

.img-width-60p {
    max-width: 60% !important;
    width: 60% !important;
}

.img-width-65p {
    max-width: 65% !important;
    width: 65% !important;
}

.img-width-70p {
    max-width: 70% !important;
    width: 70% !important;
}

.img-width-75p {
    max-width: 75% !important;
    width: 75% !important;
}

.img-width-80p {
    max-width: 80% !important;
    width: 80% !important;
}

.img-width-85p {
    max-width: 85% !important;
    width: 85% !important;
}

.img-width-90p {
    max-width: 90% !important;
    width: 90% !important;
}

.img-width-95p {
    max-width: 95% !important;
    width: 95% !important;
}

.img-width-100p {
    max-width: 100% !important;
    width: 100% !important;
}

.img-width-1 {
    max-width: 1px !important;
    width: 1px !important;
}

.img-width-3 {
    max-width: 3px !important;
    width: 3px !important;
}

.img-width-5 {
    max-width: 5px !important;
    width: 5px !important;
}

.img-width-10 {
    max-width: 10px !important;
    width: 10px !important;
}

.img-width-15 {
    max-width: 15px !important;
    width: 15px !important;
}

.img-width-20 {
    max-width: 20px !important;
    width: 20px !important;
}

.img-width-30 {
    max-width: 30px !important;
    width: 30px !important;
}

.img-width-50 {
    max-width: 50px !important;
    width: 50px !important;
}

.img-width-80 {
    max-width: 80px !important;
    width: 80px !important;
}

.img-width-100 {
    max-width: 100px !important;
    width: 100px !important;
}

.img-width-150 {
    max-width: 150px !important;
    width: 150px !important;
}

.img-width-200 {
    max-width: 200px !important;
    width: 200px !important;
}

.img-width-250 {
    max-width: 250px !important;
    width: 250px !important;
}

.img-width-300 {
    max-width: 300px !important;
    width: 300px !important;
}

.img-width-350 {
    max-width: 350px !important;
    width: 350px !important;
}

.img-width-400 {
    max-width: 400px !important;
    width: 400px !important;
}

.img-width-450 {
    max-width: 450px !important;
    width: 450px !important;
}

.img-width-500 {
    max-width: 500px !important;
    width: 500px !important;
}

.img-width-550 {
    max-width: 550px !important;
    width: 550px !important;
}

.img-width-600 {
    max-width: 600px !important;
    width: 600px !important;
}

.img-width-650 {
    max-width: 650px !important;
    width: 650px !important;
}

.img-width-700 {
    max-width: 700px !important;
    width: 700px !important;
}

.img-width-750 {
    max-width: 750px !important;
    width: 750px !important;
}

.img-width-800 {
    max-width: 800px !important;
    width: 800px !important;
}

.img-width-850 {
    max-width: 850px !important;
    width: 850px !important;
}

.img-width-900 {
    max-width: 900px !important;
    width: 900px !important;
}

.img-width-950 {
    max-width: 950px !important;
    width: 950px !important;
}

.img-width-1000 {
    max-width: 1000px !important;
    width: 1000px !important;
}

.img-width-1050 {
    max-width: 1050px !important;
    width: 1050px !important;
}

.img-width-1100 {
    max-width: 1100px !important;
    width: 1100px !important;
}

.img-width-1150 {
    max-width: 1150px !important;
    width: 1150px !important;
}

.img-width-1200 {
    max-width: 1200px !important;
    width: 1200px !important;
}

.img-width-1250 {
    max-width: 1250px !important;
    width: 1250px !important;
}

.img-width-1300 {
    max-width: 1300px !important;
    width: 1300px !important;
}

/* top margins definition */
.top-0p,
.top-0 {
    margin-top: 0 !important;
}

.top-1p {
    margin-top: 1% !important;
}

.top-2p {
    margin-top: 2% !important;
}

.top-3p {
    margin-top: 3% !important;
}

.top-4p {
    margin-top: 4% !important;
}

.top-5p {
    margin-top: 5% !important;
}

.top-6p {
    margin-top: 6% !important;
}

.top-7p {
    margin-top: 7% !important;
}

.top-8p {
    margin-top: 8% !important;
}

.top-9p {
    margin-top: 9% !important;
}

.top-10p {
    margin-top: 10% !important;
}

.top-11p {
    margin-top: 11% !important;
}

.top-12p {
    margin-top: 12% !important;
}

.top-13p {
    margin-top: 13% !important;
}

.top-14p {
    margin-top: 14% !important;
}

.top-15p {
    margin-top: 15% !important;
}

.top-16p {
    margin-top: 16% !important;
}

.top-17p {
    margin-top: 17% !important;
}

.top-18p {
    margin-top: 18% !important;
}

.top-19p {
    margin-top: 19% !important;
}

.top-20p {
    margin-top: 20% !important;
}

.top-21p {
    margin-top: 21% !important;
}

.top-22p {
    margin-top: 22% !important;
}

.top-23p {
    margin-top: 23% !important;
}

.top-24p {
    margin-top: 24% !important;
}

.top-25p {
    margin-top: 25% !important;
}

.top-26p {
    margin-top: 26% !important;
}

.top-27p {
    margin-top: 27% !important;
}

.top-28p {
    margin-top: 28% !important;
}

.top-29p {
    margin-top: 29% !important;
}

.top-30p {
    margin-top: 30% !important;
}

.top-31p {
    margin-top: 31% !important;
}

.top-32p {
    margin-top: 32% !important;
}

.top-33p {
    margin-top: 33% !important;
}

.top-34p {
    margin-top: 34% !important;
}

.top-35p {
    margin-top: 35% !important;
}

.top-36p {
    margin-top: 36% !important;
}

.top-37p {
    margin-top: 37% !important;
}

.top-38p {
    margin-top: 38% !important;
}

.top-39p {
    margin-top: 39% !important;
}

.top-40p {
    margin-top: 40% !important;
}

.top-41p {
    margin-top: 41% !important;
}

.top-42p {
    margin-top: 42% !important;
}

.top-43p {
    margin-top: 43% !important;
}

.top-44p {
    margin-top: 44% !important;
}

.top-45p {
    margin-top: 45% !important;
}

.top-46p {
    margin-top: 46% !important;
}

.top-47p {
    margin-top: 47% !important;
}

.top-48p {
    margin-top: 48% !important;
}

.top-49p {
    margin-top: 49% !important;
}

.top-50p {
    margin-top: 50% !important;
}

/* left margins definition */
.left-0p,
.left-0 {
    margin-left: 0 !important;
}

.left-1p {
    margin-left: 1% !important;
}

.left-2p {
    margin-left: 2% !important;
}

.left-3p {
    margin-left: 3% !important;
}

.left-4p {
    margin-left: 4% !important;
}

.left-5p {
    margin-left: 5% !important;
}

.left-6p {
    margin-left: 6% !important;
}

.left-7p {
    margin-left: 7% !important;
}

.left-8p {
    margin-left: 8% !important;
}

.left-9p {
    margin-left: 9% !important;
}

.left-10p {
    margin-left: 10% !important;
}

.left-11p {
    margin-left: 11% !important;
}

.left-12p {
    margin-left: 12% !important;
}

.left-13p {
    margin-left: 13% !important;
}

.left-14p {
    margin-left: 14% !important;
}

.left-15p {
    margin-left: 15% !important;
}

.left-16p {
    margin-left: 16% !important;
}

.left-17p {
    margin-left: 17% !important;
}

.left-18p {
    margin-left: 18% !important;
}

.left-19p {
    margin-left: 19% !important;
}

.left-20p {
    margin-left: 20% !important;
}

.left-21p {
    margin-left: 21% !important;
}

.left-22p {
    margin-left: 22% !important;
}

.left-23p {
    margin-left: 23% !important;
}

.left-24p {
    margin-left: 24% !important;
}

.left-25p {
    margin-left: 25% !important;
}

.left-26p {
    margin-left: 26% !important;
}

.left-27p {
    margin-left: 27% !important;
}

.left-28p {
    margin-left: 28% !important;
}

.left-29p {
    margin-left: 29% !important;
}

.left-30p {
    margin-left: 30% !important;
}

.left-31p {
    margin-left: 31% !important;
}

.left-32p {
    margin-left: 32% !important;
}

.left-33p {
    margin-left: 33% !important;
}

.left-34p {
    margin-left: 34% !important;
}

.left-35p {
    margin-left: 35% !important;
}

.left-36p {
    margin-left: 36% !important;
}

.left-37p {
    margin-left: 37% !important;
}

.left-38p {
    margin-left: 38% !important;
}

.left-39p {
    margin-left: 39% !important;
}

.left-40p {
    margin-left: 40% !important;
}

.left-41p {
    margin-left: 41% !important;
}

.left-42p {
    margin-left: 42% !important;
}

.left-43p {
    margin-left: 43% !important;
}

.left-44p {
    margin-left: 44% !important;
}

.left-45p {
    margin-left: 45% !important;
}

.left-46p {
    margin-left: 46% !important;
}

.left-47p {
    margin-left: 47% !important;
}

.left-48p {
    margin-left: 48% !important;
}

.left-49p {
    margin-left: 49% !important;
}

.left-50p {
    margin-left: 50% !important;
}

/* right margins definition */
.right-0p,
.right-0 {
    margin-right: 0 !important;
}

.right-1p {
    margin-right: 1% !important;
}

.right-2p {
    margin-right: 2% !important;
}

.right-3p {
    margin-right: 3% !important;
}

.right-4p {
    margin-right: 4% !important;
}

.right-5p {
    margin-right: 5% !important;
}

.right-6p {
    margin-right: 6% !important;
}

.right-7p {
    margin-right: 7% !important;
}

.right-8p {
    margin-right: 8% !important;
}

.right-9p {
    margin-right: 9% !important;
}

.right-10p {
    margin-right: 10% !important;
}

.right-11p {
    margin-right: 11% !important;
}

.right-12p {
    margin-right: 12% !important;
}

.right-13p {
    margin-right: 13% !important;
}

.right-14p {
    margin-right: 14% !important;
}

.right-15p {
    margin-right: 15% !important;
}

.right-16p {
    margin-right: 16% !important;
}

.right-17p {
    margin-right: 17% !important;
}

.right-18p {
    margin-right: 18% !important;
}

.right-19p {
    margin-right: 19% !important;
}

.right-20p {
    margin-right: 20% !important;
}

.right-21p {
    margin-right: 21% !important;
}

.right-22p {
    margin-right: 22% !important;
}

.right-23p {
    margin-right: 23% !important;
}

.right-24p {
    margin-right: 24% !important;
}

.right-25p {
    margin-right: 25% !important;
}

.right-26p {
    margin-right: 26% !important;
}

.right-27p {
    margin-right: 27% !important;
}

.right-28p {
    margin-right: 28% !important;
}

.right-29p {
    margin-right: 29% !important;
}

.right-30p {
    margin-right: 30% !important;
}

.right-31p {
    margin-right: 31% !important;
}

.right-32p {
    margin-right: 32% !important;
}

.right-33p {
    margin-right: 33% !important;
}

.right-34p {
    margin-right: 34% !important;
}

.right-35p {
    margin-right: 35% !important;
}

.right-36p {
    margin-right: 36% !important;
}

.right-37p {
    margin-right: 37% !important;
}

.right-38p {
    margin-right: 38% !important;
}

.right-39p {
    margin-right: 39% !important;
}

.right-40p {
    margin-right: 40% !important;
}

.right-41p {
    margin-right: 41% !important;
}

.right-42p {
    margin-right: 42% !important;
}

.right-43p {
    margin-right: 43% !important;
}

.right-44p {
    margin-right: 44% !important;
}

.right-45p {
    margin-right: 45% !important;
}

.right-46p {
    margin-right: 46% !important;
}

.right-47p {
    margin-right: 47% !important;
}

.right-48p {
    margin-right: 48% !important;
}

.right-49p {
    margin-right: 49% !important;
}

.right-50p {
    margin-right: 50% !important;
}

/* bottom margins definition */
.bottom-0p,
.bottom-0 {
    margin-bottom: 0 !important;
}

.bottom-1p {
    margin-bottom: 1% !important;
}

.bottom-2p {
    margin-bottom: 2% !important;
}

.bottom-3p {
    margin-bottom: 3% !important;
}

.bottom-4p {
    margin-bottom: 4% !important;
}

.bottom-5p {
    margin-bottom: 5% !important;
}

.bottom-6p {
    margin-bottom: 6% !important;
}

.bottom-7p {
    margin-bottom: 7% !important;
}

.bottom-8p {
    margin-bottom: 8% !important;
}

.bottom-9p {
    margin-bottom: 9% !important;
}

.bottom-10p {
    margin-bottom: 10% !important;
}

.bottom-11p {
    margin-bottom: 11% !important;
}

.bottom-12p {
    margin-bottom: 12% !important;
}

.bottom-13p {
    margin-bottom: 13% !important;
}

.bottom-14p {
    margin-bottom: 14% !important;
}

.bottom-15p {
    margin-bottom: 15% !important;
}

.bottom-16p {
    margin-bottom: 16% !important;
}

.bottom-17p {
    margin-bottom: 17% !important;
}

.bottom-18p {
    margin-bottom: 18% !important;
}

.bottom-19p {
    margin-bottom: 19% !important;
}

.bottom-20p {
    margin-bottom: 20% !important;
}

.bottom-21p {
    margin-bottom: 21% !important;
}

.bottom-22p {
    margin-bottom: 22% !important;
}

.bottom-23p {
    margin-bottom: 23% !important;
}

.bottom-24p {
    margin-bottom: 24% !important;
}

.bottom-25p {
    margin-bottom: 25% !important;
}

.bottom-26p {
    margin-bottom: 26% !important;
}

.bottom-27p {
    margin-bottom: 27% !important;
}

.bottom-28p {
    margin-bottom: 28% !important;
}

.bottom-29p {
    margin-bottom: 29% !important;
}

.bottom-30p {
    margin-bottom: 30% !important;
}

.bottom-31p {
    margin-bottom: 31% !important;
}

.bottom-32p {
    margin-bottom: 32% !important;
}

.bottom-33p {
    margin-bottom: 33% !important;
}

.bottom-34p {
    margin-bottom: 34% !important;
}

.bottom-35p {
    margin-bottom: 35% !important;
}

.bottom-36p {
    margin-bottom: 36% !important;
}

.bottom-37p {
    margin-bottom: 37% !important;
}

.bottom-38p {
    margin-bottom: 38% !important;
}

.bottom-39p {
    margin-bottom: 39% !important;
}

.bottom-40p {
    margin-bottom: 40% !important;
}

.bottom-41p {
    margin-bottom: 41% !important;
}

.bottom-42p {
    margin-bottom: 42% !important;
}

.bottom-43p {
    margin-bottom: 43% !important;
}

.bottom-44p {
    margin-bottom: 44% !important;
}

.bottom-45p {
    margin-bottom: 45% !important;
}

.bottom-46p {
    margin-bottom: 46% !important;
}

.bottom-47p {
    margin-bottom: 47% !important;
}

.bottom-48p {
    margin-bottom: 48% !important;
}

.bottom-49p {
    margin-bottom: 49% !important;
}

.bottom-50p {
    margin-bottom: 50% !important;
}